<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div>
      {% include 'nav.html' %} 
    </div>
   
    <table class="table table-condensed">
        <tbody><tr>		
            <td nowrap="" align="left" style="border: none;padding-right: 15px;width:100%">
             
              <form method="POST" >
                {% csrf_token %}  
                <label for="trainNo">Train No./Name </label> 
                <div class="autocomplete input-group" style="width:100%">
                <span class="twitter-typeahead" style="position: relative; display: inline-block; width: 100%;"><input type="text" class="form-control tt-input" style="min-width: 70px; width: 100%; position: relative; vertical-align: top;" placeholder="Train No./Name " name="trainNo" id="trainNo" size="6" maxlength="15" value="" onkeyup="onTrainInputFind('K')" autocomplete="off" spellcheck="false" dir="auto"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: Poppins, sans-serif; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><div class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div class="tt-dataset tt-dataset-cars"></div></div></span>
                </div>
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>	
                
                    
            <input type="hidden" name="jDate" value="23-Oct-2023">
            </td>
            <!-- <td nowrap="" align="left" style="border: none;padding-left: 1px;width:130px;padding-top:18px;">&nbsp;&nbsp;
            <br>
            <span class="input-group-btn" style="display: inline">
                <input type="button" class="btn btn-primary" style="left: -1px; font-weight: bolder;" value="X" onclick="clearFindTrainForm();">
                <input type="button" class="btn btn-default" style="margin-left: 2px;" name="Find" value="Search" onclick="onTrainInputFind('S');">
                </span>
            </td> -->
        </tr>
    
    </tbody></table>
    {% if Train_details %}
    <table class="table table-bordered table-condensed table-striped">
      <tbody>
       
        
        <tr valign="top" height="20">
          <td><font style="font-size:small large; font-weight: bold">Train</font></td>
          <td><font style="font-size:small large; font-weight: bold">Name</font></td>
          <td align="center"><font style="font-size:small large; font-weight: bold">Type</font></td>
        </tr>
        {% for user in Train_details %}
         <tr>
          <td align="left"><font style="font-size:small large;">{{user.train_number}}</font></a></td>
          <td align="left"><font style="font-size:small large;"><b> {{user.train_name}}</b></font></a><br></td>
          <td align="center"><span><font style="font-size:small large;">RAJ</font></span></td>
          </tr>
        {% endfor %}
      
      </tbody>
    </table>
    {% endif %}
    
</body>
</html>