<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div style="float: left;margin-left:10px;flex:1;"><h2>National Train Enquiry System</h2></div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href= "{% url 'homeview' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href= "{% url 'index' %}">Trains Between Stations</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'viewform' %}">Add Data In Master List</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'showlist' %}">Show Master List</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'pnrst' %}">Know your PNR status</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li> -->
                </ul>
              </div>
            
           
        </div>
    </nav>
</body>
</html>